@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

h1 {
  font: 4em "Luckiest Guy", sans-serif;
  color: black;
}

h2 {
  font: 3em "Luckiest Guy", sans-serif;
  color: black;
}

h3 {
  font: 1.5em "Luckiest Guy", sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font: 1em Roboto, sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h5 {
  font: 1em Roboto, sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f2f2f2;
  padding: 0.1%;
}

.App-header {
  align-items: center;
  justify-content: top;
}

.knife {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.fork {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.button {
  background-color: #dbdeff;
  border: 8px solid white;
  border-radius: 25px;
  margin: 0.5%;
  z-index: 2;
}

.results {
  padding: 1.5%;
  width: 33.33%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food {
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
}

.surpise {
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.emptyStar {
  color: gray;
}
.attribution {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  font-size: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.quiz {
  display: flex;
  justifyContent: space-between;
  display: none;
}

#stopQuiz {
  display: none;
}

.stopButton {
  background-color: #E38681;
  border: 8px solid white;
  border-radius: 25px;
  z-index: 2;
}

.disabled img {
  filter: grayscale(1);
}