@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

h1 {
  font: 4em "Luckiest Guy", sans-serif;
  color: black;
}

h2 {
  font: 3em "Luckiest Guy", sans-serif;
  color: black;
}

h3 {
  font: 1.5em "Luckiest Guy", sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font: 1em Roboto, sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h5 {
  font: 1em Roboto, sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f2f2f2;
  padding: 0.1%;
}

.App-header {
  align-items: center;
  justify-content: top;
}

.knife {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 220px;
  height: 220px;
}

.fork {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  width: 220px;
  height: 220px;
}